body {
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.text-muted {
    color: #2f3640 !important;
}

.bg-trans-1 {
    background: rgba(225,225,255,0.25);
    backdrop-filter: blur(10px);
}

.bg-trans-2 {
    background: rgba(225,225,255,0.95);
    backdrop-filter: blur(10px);
}

.table {
}